/*default css for the body tag*/
html,
body{
	height: 100%;
	width: 100%;
	margin: 0px;
}
body, .heding-text, .text{
    font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    background-color: rgb(227,227,227);
}
a{
	text-decoration: none;
	color: rgb(0,0,0);
}
a:hover{
	color: rgb(255,255,255);
}
button{
	padding: 1%;
	background-color: rgb(180,180,180);
	border-radius: 20px;
}
.heading, .introduction-container{
	margin: 2%;
	text-align: center;
}
.heding-text{
	font-size: 30px;
	font-weight: 900;
}
.profile-picture-container{
	width: auto;
}
.profile-picture{
	width: 12%;
}
.bristollogo{
	width: 30%;
	padding: 3%;
}
.text-container{
	width: 70%;
	/*text-align: center;*/
	text-align: left;
	display: inline-block;
}
.text, .warning{
	font-size: 15px;
	font-weight: 600;
}
.warning{
	padding-top: 2%;
	color: rgb(197,0,10);
}
.button-container{
	margin: 2% 0;
}