/*default css for the body tag*/
html,
body{
	height: 100%;
	width: 100%;
	margin: 0px;
}
body, .heding-text, .text{
    font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    background-color: rgb(227,227,227);
}
a{
	text-decoration: none;
	color: rgb(0,0,0);
}
a:hover{
	color: rgb(197,0,10);
}
button{
	padding: 1%;
	background-color: rgb(180,180,180);
	border-radius: 20%;
}
table{
    display: inline-block;
}
td, th {
	border: 2px solid rgb(0,0,0);
	font-weight: 700;
}
td{
	background-color: rgb(255,255,255);
	color: rgb(197,0,10);
}
.heading, .introduction-container{
	margin: 2%;
	text-align: center;
}
.heding-text{
	font-size: 30px;
	font-weight: 900;
	margin: 0 15%;
}
.profile-picture-container{
	width: auto;
}
.profile-picture{
	width: 12%;
}
.bristollogo{
	width: 30%;
	padding: 3%;
}
.text-container{
	width: 70%;
	/*text-align: center;*/
	text-align: left;
	display: inline-block;
}
.text, .warning{
	font-size: 15px;
	font-weight: 600;
}
.warning{
	padding-top: 2%;
	color: rgb(197,0,10);
}
.button-container{
	margin-top: 2%;
}
/********************************************************* form.html *****************************************************************/
select, .form-input{
	min-width: 20%;
}
.show-inputbtns .input-buttons {
    display: inline-block;
}
.form-warning{
	padding-top: 0%;
}
/********************************************************* instruction.html *****************************************************************/
.hi-user{
	margin: 0;
	font-size: 20px;
}
/********************************************************* survey.html *****************************************************************/
.survey-container{
 	display: -webkit-box; 
 }
.info-container{
	display: -webkit-inline-box;
 }
.sitting-warning{
	padding-top: 0%;
 }
.survey-image-container{
	display: inline-block;
	width: 100%;
	text-align: center;
}
.survey-image{
	width: 42%;
}
.score-button-list-container{
	text-align: center;
}
.score-submit-button-container{
	text-align: center;
	margin: 2% 0%;
}
.nav-button{
	min-width: 12%;
	margin: 0% 2%;
}
.nav-button-container, .score-button-list-container{
	margin: 2% 0%;
	text-align: center;
}
.table-container{
    /*display: inline-block;*/
    text-align: center;
}
.score-submit-button{
	font-weight: 700;
}